<div class="container-fluid">
  <form>
    <div class="row">
      <!-- Type filter -->
      <div class="col-md-2">
        <fieldset class="form-group">
          <legend>Type</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="types.block" class="form-check-input" type="checkbox" name="true">
              Block
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="types.transaction" class="form-check-input" type="checkbox" name="true">
              Transaction
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="types.vote" class="form-check-input" type="checkbox" name="true">
              Vote
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="types.dle" class="form-check-input" type="checkbox" name="true">
              DLE
            </label>
          </div>
        </fieldset>
      </div>

      <!-- Block Status filter,-->
      <div class="col-md-2">
        <fieldset class="form-group">
          <legend>Block status</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="blockStatus.decidedValid" class="form-check-input" type="checkbox" name="true">
              Decided valid
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="blockStatus.decidedInvalid" class="form-check-input" type="checkbox" name="true">
              Decided Invalid
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="blockStatus.undecided" class="form-check-input" type="checkbox" name="true">
              Undecided
            </label>
          </div>
        </fieldset>
      </div>

      <!-- Transaction filter NOT INPLEMENTED-->
      <div class=col-md-2>
        <fieldset class="form-group">
          <legend>Transaction mode (NOT INPLEMENTED)</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="transactionModeRadios" id="absoluteModeRadio" value="absoluteMode">
              Absolute
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="transactionModeRadios" id="relativeModeRadio" value="relativeMode">
              Relative
            </label>
          </div>
        </fieldset>
      </div>

      <!-- Transaction operation filter,-->
      <div class="col-md-2">
        <fieldset class="form-group">
          <legend>Transaction operation</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="transactionOperation.create" class="form-check-input" type="checkbox" value="" name="true">
              Create
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="transactionOperation.update" class="form-check-input" type="checkbox" value="" name="true">
              Update
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="transactionOperation.transfer" class="form-check-input" type="checkbox" value="" name="true">
              Transfer
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="transactionOperation.delete" class="form-check-input" type="checkbox" value="" name="true">
              Delete
            </label>
          </div>
        </fieldset>
      </div>

      <!-- Time Period filter -->
      <div class="col-md-3">
        <div class="container-fluid">
          <div class="row">
            <legend>Time period</legend>
          </div>
          <div class="row">
            <div id="timePeriod">
              <span id="leftTimePeriod">
                2016-10-08
              </span>
               /
              <span id="rightTimePeriod">
                2016-12-18
              </span>
            </div>
          </div>
          <div class="row">
            <span id="minTimePeriod">
              Min: 2016-10-08<!-- Min Timestamp to date (no hour) with angular filter -->
            </span>
          </div>
          <div class="row">
            <!-- For initial range, put the min and max values. For the steps we will see (if possible, always have like 20 steps between min and max). -->
            <input id="timePeriodSlider" type="text" class="span2" value="" data-slider-min="1475921591" data-slider-max="1482048792" data-slider-step="500" data-slider-value="[1475921591,1482048792]"/>
          </div>
          <div class="row">
            <span id="maxTimePeriod">
              Max:2016-12-18<!-- Max Timestamp to date (no hour) with angular filter -->
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Voter filter -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <legend>Vote: voterPubKey</legend>
          <textarea class="form-control" id="votersTextarea" rows="1"></textarea>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <legend>Block: creatorPubKey</legend>
          <textarea class="form-control" id="votersTextarea" rows="1"></textarea>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <legend>Transaction: previousTid</legend>
          <textarea class="form-control" id="votersTextarea" rows="1"></textarea>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <legend>Transaction: cOwner</legend>
          <textarea class="form-control" id="votersTextarea" rows="1"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
